extends ../layout
block content
  a(href='/usuarios') volver
  br
  br
  br
  h1 Nueva Usuario
  br
  br
  form(action='/usuarios/create' method='post')
    .form_group
        label(for='nombre') Nombre:
        input#nombre.form-control(type='text' name='nombre' value=usuario.nombre class=errors.nombre ? 'is-invalid' : '') 
        if errors.nombre
            small#nombreHelp.text-danger
            = errors.nombre.message
    .form_group
        label(for='email') Email :
        input#email.form-control(type='text' name='Email' value=usuario.email class=errors.email ? 'is-invalid' : '') 
        if errors.email
            small#emailHelp.text-danger
            = errors.email.message
    .form_group
        label(for='pwd') Password :
        input#password.form-control(type='text' name='password' value=usuario.password class=errors.password ? 'is-invalid' : '') 
        if errors.password
            small#passwordHelp.text-danger
            = errors.password.message
    br
    br
    input.btn.btn-primary(type='submit' value='Ok')

